.vscode
.data
.data-*
.data-node-*
.ssl
.keys
bin/
deploy/terraform/.terraform/
deploy/terraform/*.tfstate*
deploy/terraform/.terraform.lock.hcl
deploy/terraform/terraform.tfvars
deploy/terraform/ami.auto.tfvars
deploy/terraform/*.tfstate*

scripts/bench/out/
scripts/bench/node_modules/
*/__debug*
z_draft/*
.DS_Store
