.vscode
.data
.data-*
.data-node-*
.ssl
.keys
bin/
deploy/terraform/.terraform/
deploy/terraform/*.tfstate*
deploy/terraform/.terraform.lock.hcl
deploy/terraform/terraform.tfvars
deploy/terraform/ami.auto.tfvars
deploy/terraform/*.tfstate*
scripts/deploy/terraform/.terraform/
scripts/deploy/terraform/*.tfstate*
scripts/deploy/terraform/.terraform.lock.hcl
scripts/deploy/terraform/terraform.tfvars
scripts/deploy/terraform/ami.auto.tfvars
scripts/deploy/terraform/load_ami_id

scripts/bench/out/
scripts/bench/node_modules/
*/__debug*
z_draft/*
.DS_Store
__pycache__/
*.pyc
